html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  background-color: #00005d;
}

h1 {
  font-family: "Inconsolata", monospace;
  margin: 0;
  color: #e6e6e6;
  font-size: 1.5em;
  font-weight: 400;
  padding: 10px 12px;
}

form {
  width: 400px;
  height: 136px;
  background-color: lightgray;
  margin: 0 auto;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 35px;
  border: none;
  outline: none;
}

input:nth-child(2) {
  background: #00005d;
  color: white;
}

input:nth-child(2):hover {
  cursor: pointer;
}
